html{
    color:white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: red;
    font-size: 15px;
    border: 1cm double black;
    width: 600px;
    margin:auto;
    align-content:stretch;
}
.titlepage {
    color: white;
    width: 455px;
    border: 1cm double red;
    display:block;
    margin:auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-shadow: 3px 2px 5px red;
}
head,
body {
    margin:0 auto;
    background-color: black;
    border: 5cm;
    width:550px;
    height:725px;
    text-align:auto;
}
.center {
    display:flex;
    margin:auto;
    width: 50%;
}
ol,
ul {
    color:red
}

p,
ul,
ol,
h3 {
    padding-left:30px;
}